{% extends "layout.njk"%}


{% block head %}
    <title> Sobre - {{about.name}}</title>

{% endblock %}

{% block content %}
    
    <div id="sobre">
        <img src="{{about.logo}}" alt="Logo da {{about.name}}">
        <h1>{{about.name}}</h1>
        <p>{{about.description}}</p>
        <h2>{{about.subtitle}}</h2>
        <ul>
            <li>{{about.technolgies[0].name}}</li>
            <li>{{about.technolgies[1].name}}</li>
            <li>{{about.technolgies[2].name}}</li>
        </ul>
    </div>

    <div id="links-footer" class="links">
        <h3>{{about.footerName}}</h3>

        {% for link in about.links %}
            <a href= {{link.url}} target="_blank">{{link.name}}</a>
        {% endfor %}
    </div>    
    
    <footer>
        <p>Endereço da empresa (Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188)</p>
        <p>Direitos autorais (Rocketseat © 2020 - Todos os direitos reservados)</p>
    </footer>

{% endblock %}