{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat</title>
{% endblock %}

{% block content %}
    <div class="not-found">
        <img src="http://thefacepalmfiles.files.wordpress.com/2010/08/001-homer-simpson1.jpg" alt="404 ERROR">
        <p>Página não encontrada</p>
    </div>

{% endblock %}